div {
	background-color: #F8DB92;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

h1 {
	text-align: center;
	font-size: 175%;
}

h2 {
	text-align: center;
	font-size: 125%;
	position: absolute;
	top:-1px;
	right:-1px;
	width:45%;
	margin: 0px 0px 0px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}



p {
	margin-top: 35px;
}

.bigp {
	position: relative;
}


#pan {
	background-color: #2F92E0;
	color: white;
}

#pri {
	background-color: #1BC638;
	color: white;
}

#morena {
	background-color: #874703;
	color: white;
}

